.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0c174b);
}

.home-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 600px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.home-title {
  margin-bottom: 10px;
  font-size: 32px;
}

.home-subtitle {
  margin-bottom: 30px;
  color: gray;
}

.role-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.role-card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

.role-card:hover {
  transform: translateY(-5px);
  border-color: #667eea;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.role-img {
  width: 80px;
  margin-bottom: 10px;
}

.customer {
  background: #f0f8ff;
}

.provider {
  background: #f5fff0;
}

.admin {
  background: #fff5f5;
}